[Unit]
Description=Initialize Real ePaper Display
After=network.target

[Service]
Type=oneshot
User=kenneth
WorkingDirectory=/home/kenneth/epaper-frame
ExecStart=/usr/bin/python /home/kenneth/epaper-frame/init_display.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
