[Unit]
Description=Persistent SPI Communication Daemon for ePaper Display
After=network.target

[Service]
Type=simple
User=kenneth
WorkingDirectory=/home/kenneth/epaper-frame
ExecStart=/usr/bin/python /home/kenneth/epaper-frame/epaper_daemon.py
Restart=always

[Install]
WantedBy=multi-user.target
